.form {
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  max-width: 360px;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form input {
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 360px;
  height: 40px;

  padding: 8px, 16px;
  transition: border 0.3s ease;
}

.form input:hover {
  border: 1px solid #000000;
}

.form input:focus {
  border: 1px solid #4e75ff;
}

.form fieldset {
  border: 1px solid #808080;
  border-radius: 4px;

  max-width: 360px;
  height: 66px;

  margin-top: 16px;
  margin-bottom: 26px;

  display: flex;
  gap: 48px;
  justify-content: center;
  position: relative;
  transition: border 0.3s ease;
}

.form fieldset:hover {
  border: 1px solid #000000;
}

legend {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: left;
}

.form fieldset label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  max-width: 264px;
  height: 32px;
}

.form label input[type='radio'] {
  width: 20px;
  height: 20px;
  border-radius: 14px;
  cursor: pointer;
}

.form button {
  background-color: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;

  min-width: 360px;
  height: 40px;
  padding: 8px, 16px;
  border: none;
  border-radius: 8px;

  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #6c8cff;
}
